$color-main: #1e262c;
// $color-main: #111111;


// $color-bg: #d9d8d4;//底色
$color-bg: #edf1f2;//底色
$color-secondary:#b3b3b3;//輔色1
$color-third:#fff;//輔色2
$color-forth:red;//輔色3

$color-li-text: #fff;
$color-text: #fff;

$header-height: 60px;
$nav-min-width: 60px;
$nav-max-width: 220px;

//YEN
$btn-bcg-color: rgb(245,108,45);
$btn-color:#fff;
$btn-box-shadow:5px 5px 2px #00000099, -1px -1px 1px #c4d2e0;
$buy-box-shadow:5px 5px 2px #00000099, -1px -1px 1px #878484;
$price-text-shadow: 3px 2px 1px #0000003d,
-1px -1px 1px #c4d2e0;
$price-color:#111111b8;
$price-item-color:#fe2e2e;
//

