@import '_navbar.scss';

#forum {
    min-height: 100vh;
    border-left: $nav-min-width solid transparent;
    background: $color-bg;
    transition: all 0.5s;

    @include min-mobile {
        & {
            border-left: 0px solid transparent;
            padding: 0px 0px;
            margin: 0px 0px;
        }
    }

    .page-nav {
        margin-top: 10px;
        background: $color-main;
        color: $color-li-text;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        position: relative;

        ul {
            display: flex;
            background: $color-main;
            padding: 10px 0;
            margin: 0px;

            li {
                font-size: 1rem;
                margin: 0 10px;
                padding: 5px 10px;
                border-radius: 1rem;
                color: $color-li-text;

                &.active {
                    color: $color-main;
                    background: #f8f9fa;
                }
            }
        }

        &-box {
            color: #fff;

            .filter {
                margin-right: 35px;
                color: $color-bg;
                background: $color-main;
                border: 0px;
            }

            display: flex;

            &-btns {
                position: relative;

                button {
                    color: $color-bg;
                    background: $color-main;
                    border: 0px;
                    position: absolute;
                    right: 0;
                    display: none;
                    z-index: 0;
                }
            }
        }
        .row-cells-dense {
            display: block;
            z-index: 1;
        }
    }

    &.row-dense {
        .row-list {
            display: block;
            z-index: 2;
        }
    }
    &.row-list {
        .row-table-list {
            display: block;
            z-index: 3;
        }
    }
    &.row-table-list {
        .row-cells {
            display: block;
            z-index: 3;
        }
    }
    .page-content {
        margin-top: 30px;
        padding: 0px 10px;

        .col {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 15px;

            @include mobile {
                & {
                    margin-bottom: 30px;
                }
            }

            @include pad {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }

            @include computer {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }

        .card-body {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .card-title {
                text-align: center;
            }

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

    &.row-dense {
        .page-content {
            .col {
                margin-bottom: 15px;

                @include mobile {
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    margin-bottom: 30px;
                }

                @include pad {
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }

                @include computer {
                    -ms-flex: 0 0 25%;
                    flex: 0 0 25%;
                    max-width: 25%;
                }
            }
        }
    }

    &.row-list {
        .page-content {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .card {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                width: auto;
                height: 130px;
            }

            .card-body {
                flex-direction: column;

                &-head {

                    flex-direction: row;
                    width: 100%;

                    .card-title {
                        text-align: left;
                    }
                }

                &-text {
                    flex-direction: row;
                    width: 100%;

                }
            }
        }

        .col {
            margin-bottom: 15px;

            @include mobile {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }

            @include pad {
                margin-bottom: 30px;
            }

            @include computer {}
        }
    }

    &.row-table-list {
        .page-content {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .card {
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                display: none;
            }
        }

        .col {
            @include mobile {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}