@import'_variable';
@import '_mixin';
@import '_navbar';

#Check-Buy{
    background:$Main-bcg;
    width:100%;
    margin-left: auto;
    transition: .5s;
    padding: 1em 1em 5em 1em;
    color: #fff;
    .Review{
        position: relative;
        .Totoal-Price{
            font-weight: 700;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            font-size: 1.5em;
        }
        .User-Protocol{
            font-size: 0.5em;
            input{
                display: block;
                float: left;
                clear: left;
                height: 14px;
                padding: 0px;
                margin: 3px 5px 0px 0px;
            }
        }
        .Btn_Buy{
            font-size: 1.5rem;
            padding: 5px 10px;
            background-color: $btn-bcg-color;
            font-weight: 700;   
            border-radius: 10px;
            border: 0px;
            position: absolute;
            right: 0;
            bottom: 1em;
            box-shadow: $btn-box-shadow;
            color: #fff;
        }
        .Btn_Buy:hover{
            background-color:$btn-hover;
            box-shadow: none;
        }
        a{
            /* bs內建text-decoration-none */
            text-decoration: underline !important;
            cursor: pointer;
            font-weight:700 ;
        }
    
    
    }
    .Buy-Hint{
        div{
            padding: 0.5em;
            border: 1px solid #000;
            border-radius: 5px;
            font-size: 0.8em;
            box-shadow: $btn-box-shadow;  
            font-weight: 600;  
        }
    }
    @include cellphone{
        .Buy-Hint{
            margin-top: 1em;
            div{
                position: sticky;
                top: 5em;
            }
        }
    }
}
@include mobile{
    #Check-Buy{
        width: calc(100% - 60px);
        margin-left: auto;
    }
}

//JSclassList
@include cellphone{ 
    #Check-Buy{
        display: flex;
        justify-content: space-between;
    }
    .open-section{
        width: calc(100% - 220px) !important;
        transition: 0.5s;
    }
}
.MainScreen{
    width: 100% !important;
}
.Sum-Price{
    color: #fff;
    text-shadow: $price-text-shadow;
}
//Template Spopping_Select_Template
.Game-Item{
    border-bottom: 1px solid #fff;
    margin-bottom: 1em;
    h2{
        font-size: 1.3em;
        font-weight: 900;
    }
    @include mobile{
        h2{
            font-size: 2em;
        }
    }
    div{
        .Game-Price-Box{
            span{
                font-weight: 600;
                font-size: 0.8em;
                margin-right: 0.8em;
            }
            p{
                font-weight:800 ;
                font-size: 0.8em;
                text-shadow: $price-text-shadow;
                color: #fff;
            }
        }
        @include cellphone{
            .Game-Price-Box{
                display: flex;
                justify-content: space-between;
                span,p{
                    font-size:0.8em;
                }
                @include pad{
                    span,p{
                        font-size:1.2em;
                    }
                }
                @include computer{
                    span,p{
                        font-size:1.5em;
                    }
                }
            }
        }
    }
}


//共用
img{
    border-radius: 0.4em;
    border: 1px solid black;
}
