@import '_mixin.scss';
@import '_variable.scss';
@import '_navbar';

#CommodityDetials{
    color: #fff;
    background:$Main-bcg;
    width: 100%;
    margin-left: auto;
    transition: .5s;
    padding: 1em 2em 5em 2em;
    .MainGame-Datial{
        h2{
            font-size: 2em;
            padding:0 0 0.2em 0.5em;
            border-bottom: 1px solid #fff;
        }
        @include mobile{
            h2{
                font-size: 2em;
            }
        }
        .Game-Introduce{
            background-color: $section-color;
            padding: 1em;
            p{
                margin-top:0.5em ;
                font-size: 0.8em;
            }
            h3{ 
                font-size: 0.5em;
                font-weight: 800;
            }
        }
        .Game-Video-Introduce{
            padding: 1em;
            background-color: $section-color;
        }
        @include cellphone{
            .Game-Introduce{
                width: 40%;
                p{
                    font-size: 0.7em;
                }
            }
            .Game-Video-Introduce{
                width: 55%;
            }
        }
        @include pad{
            .Game-Introduce{
                p{
                    font-size: 1.2em;
                }
                h3{
                    font-size: 1em;
                }
            }
        }
    }
    .Game-Function-Btn{
        width: 100%;
        .Game-Price{
            color: #fff;
            font-size: 2em;
            font-weight: 700;
            padding: 0 0.5em;
            text-shadow: $price-text-shadow;
        }
        @include mobile{
            .Game-Price{
                font-size: 3em;
            } 
        }
    }
    .Game-Datails-Area{
        .About-Game{
            font-weight: 800;
            font-size: 2em;
        }
        .Game-Datails{
            background-color: $section-light-color;
            padding: 1em;
            p{
                // font-weight: 500;
                font-size: 1.2em;
            }
        }
        .Recommend{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include cellphone{
            .Recommend{
                position: relative;
                div{
                    position: sticky;
                    top: 10em;
                }
                
            }
        }
    }
    
    .System-Requirement{
        nav button{
            font-size: 1.5rem;
            padding: 5px 10px;
            border: none;
            background: $btn-bcg-color;
            border-radius: 10px;
            box-shadow: $btn-box-shadow;
            color: #fff;
        }
        nav button:hover{
            background: $btn-hover;
            box-shadow: none;
            transition: .5s;
        }
        .Cnfigure-Box{
            margin-top: 0.5em;
            border: 1px solid #fff;
            border-radius: 5px;
            .Min-Cnfigure{
                border-bottom: 1px solid #fff;
                padding: 0.5em 0em 0 0;
                font-size: 1em;
            }
            .Suggest-Configure{
                padding-top: 0.5em;
            }
        }
        @include cellphone{
            .Cnfigure-Box{
                margin-top: 0.5em;
                border: 1px solid #fff;
                border-radius: 5px;
                .Min-Cnfigure{
                    border-right: 1px solid #fff;
                }
                .Suggest-Configure{
                    padding-top: 0.5em;
                }
            }
        }
        .System-text{
            padding-top:2em ;
            font-size: 0.5em;
        }

    }
    .Video-Area{
        position: fixed;
        background: $section-color;
        bottom: 1em;
        right: 1em;
        z-index: 3;
        video{
            width:300px;
            height:250px;
        }
        .Video-Clear{
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            z-index: 1;
            color: rgb(148, 41, 22);
        }
    }
}
.Group-btn{
    margin-top: 1em;
    display: flex;
    button{
        font-size: 1.5rem;
        padding: 5px 10px;
        border-radius:10px ;
        border: none;
        font-weight: 700;
        margin-left: 1em;
        &:nth-child(1),&:nth-child(2){
        background:$btn-bcg-color;
        box-shadow: $btn-box-shadow;
        color: #fff;
        }
        &:nth-child(1):hover,&:nth-child(2):hover{
            transition: .5s;
            background:$btn-hover;
            box-shadow: none;
            color: #fff;
            }
        &:nth-child(3){
            font-size: 1.5rem;
            border-radius:10px ;
            background: $btn-buy-bcg;
            box-shadow: $btn-box-shadow;
            a{
                color: #fff;
            }
        }
        &:nth-child(3):hover {
            background: $buy-hover;
            box-shadow: none;
            a{
                color: #fff;
                text-decoration: none;
                
            }
        }
    }
}


@include mobile{
    #CommodityDetials{
        width: calc(100% - 60px);
        margin-left: auto;
    }   
}

@include cellphone{
    .MainGame-Datial{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        }
}

//JSclassList
.Template-box{
    font-size: 1em;
} 
@include mobile{
    //JSclassList
    
    .open-section{
        width: calc(100% - 220px) !important;
        transition: 0.5s;
    }
}
.MainScreen{
    width: 100% !important;
    transition: 0.5s;
}


//共用
img{
    border-radius: 0.4em;
}
ul{
    list-style: none;
}





