@import'_variable';
@import '_mixin';
@import '_navbar';
.header{
    height: 37px;
}

#ShoppingCart{
    background:$Main-bcg ;
    color: #fff;
    width:100%;
    margin-left: auto;
    padding-bottom: 5em;
    .title{
        font-size: 2em;
        font-weight: 900;
        }
        @include cellphone{
            .title{
                font-size: 3em;
            }
    }
    .Main-Content{
        .Shopping-ElseFunction{
            .Continue-Shopping{
                font-size: 1.5rem;
                background:$btn-buy-bcg;
                color: #fff;
                box-shadow: $btn-box-shadow;
                padding: 5px 10px;
                border-radius: 10px;
                border: none;
                margin-right: 1.5em;
                font-weight: 700;
                text-decoration: none;
            }
            .Continue-Shopping:hover{ 
                box-shadow: none;
                background: $buy-hover;
            }
            .DelAllItem{
                font-size: 1.5rem;
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
                background:$btn-bcg-color;
                box-shadow: $btn-box-shadow;
                font-weight: 700;
                color: #fff;
            }
            .DelAllItem:hover{
                background:$btn-hover;
                box-shadow: none;
            }
        }
    }
    @include mobile{
        .Main-Content{
            padding: 1em;
        } 
    }
    @include cellphone{
        .Shopping-Recommend{
            position: fixed;
            right: 0;
            top: 5.5em;
        }
    }
}
@include mobile{
    #ShoppingCart{
        width: calc(100% - 60px);
        margin-left: auto;
    }   
}
.Shpping-else-text{
    font-size: 0.2em;
    .Shpping-else-text div{
        border: 1px solid #686868aa;
        border-radius: 5px;
        padding: 2em;
    }
    div{
        img{
            width: 15em;
            height: 15em;
            border: 0px;
        }
    }
    
}

.Shopping-Select-Sum-Pric{
    .Shopping-Checkout{
        font-size: 1.2em;
        font-weight: 700;
        .Shpopping-Price{
            font-weight: 900;
            color: #fff;
            text-shadow: $price-text-shadow;
        }
    }
    @include cellphone{
        .Shopping-Checkout{
            font-size: 1.7em;
        }
    }
}


@include mobile{
    //mainopen classList
    .open-section{
        width: calc(100% - 220px) !important;
        transition: 0.5s;
    }
}


//Template Spopping_Select_Template
.Game-Shopping-Item{
    padding:1em 0em 1em 0em;
    border-bottom: 1px solid #fff;
    .Game-Price{
        position: relative;
        height: 9em;
        .Select-Game-Title{
            font-size: 1.8em;
        }
        @include mobile{
            .Select-Game-Title{
                font-size: 1.5em;
            }
        }
        div{
            p{
                font-size: 1.5em;
                font-weight: 600;
            }
            .Select-Item-Price{
                font-weight: 900;
                color:#fff;
                text-shadow: $price-text-shadow;
            }
        }
        .Remove_btn{
            font-size: 1.5rem;
            position: absolute;
            right: 0;
            bottom: 0;
            background:$btn-bcg-color;
            color: #fff;
            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            box-shadow: $btn-box-shadow;
        }
        .Remove_btn:hover{
            background:$btn-hover;
            box-shadow: none;
        }
    }
    @include pad{
        .Game-Price{
            height: auto;
        }
    }
}
@include cellphone{
    
}
//Template #Shopping_Recommend
.Recommend-Price-Box{
    padding-top: 1em;
    span{
        font-weight: 600;
    }
    .Recommend-Price{
        font-weight: 800;
    }
}
//共用
img{
    border-radius: 0.4em;
    border: 1px solid black;
}

.MainScreen{
    width: 100% !important;
}
button{
    color: #000;
    font-weight: 700;
    border-radius: 5px;
}